<footer class="py-4 mt-5 border-top">
    <div class="container d-flex flex-row align-items-center justify-content-between">
        <div>
            <img src="https://www.lesmajesticiels.org/assets/logos/lesmajesticiels.png" alt="Les Majesticiels" height="28">
        </div>
        <div>
            <a href="/terms.php">Conditions d'utilisation</a> - <a href="/privacy.php">Politique de confidentialité</a> - <a href="https://www.lesmajesticiels.org/support">Assistance</a>
        </div>
        <div>
            &copy; 2014-{{current_year}} <a href="https://www.quentinpugeat.fr/">Quentin Pugeat</a>
        </div>
    </div>
</footer>
<script src="https://assets.lesmajesticiels.org/libraries/bootstrap/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://assets.lesmajesticiels.org/libraries/bootstrap/bootstrap-5.x-custom/color-modes-toggler.js"></script>