<footer class="py-3 mt-5 border-top container">
    Les Majesticiels - Conditions d'utilisation - Politique de confidentialité - Assistance - &copy; 2014-{{current_year}} Quentin Pugeat - <a href="https://www.quentinpugeat.fr/">quentinpugeat.fr</a>
</footer>
<script src="https://assets.lesmajesticiels.org/libraries/bootstrap/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://assets.lesmajesticiels.org/libraries/bootstrap/bootstrap-5.x-custom/color-modes-toggler.js"></script>