@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: white;
    }

    .btn-link {
        color: white;
    }

    .separator, .border-top {
        border-color: #666;
    }
}